## 2. Récupération des données

In [15]:
import pandas as pd
import numpy as  np
customer=pd.read_csv("Customer.csv",na_values="?")

In [16]:
customer

       age  pages  first_item_prize gender  ReBuy  News_click country revenue
0     41.0    6.0              28.0    Fem  False         4.0   China     113
1     34.0    4.0              15.5    Fem   True         2.0   China      36
2     38.0    5.0               NaN    Fem  False         7.0   China     111
3     20.0    1.0              44.0    Fem  False         2.0   China      71
4     39.0   10.0              10.0    Fem   True         4.0   China      80
...    ...    ...               ...    ...    ...         ...     ...     ...
9995  49.0    8.0              44.0   Masc  False         4.0  Taiwan     254
9996  32.0    5.0              42.0   Masc  False         1.0  Taiwan      82
9997  47.0    8.0              15.5    Fem   True         3.0  Taiwan     117
9998  42.0    7.0              42.0    Fem  False         2.0  Taiwan      70
9999  41.0    5.0              42.0    Fem  False         2.0  Taiwan     107

[10000 rows x 8 columns]

## 1. Structure des données

In [17]:
customer.head()

    age  pages  first_item_prize gender  ReBuy  News_click country revenue
0  41.0    6.0              28.0    Fem  False         4.0   China     113
1  34.0    4.0              15.5    Fem   True         2.0   China      36
2  38.0    5.0               NaN    Fem  False         7.0   China     111
3  20.0    1.0              44.0    Fem  False         2.0   China      71
4  39.0   10.0              10.0    Fem   True         4.0   China      80

On observe que certains valeurs sont représentés par un ?

In [18]:
customer.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               10000 non-null  float64
 1   pages             10000 non-null  float64
 2   first_item_prize  9997 non-null   float64
 3   gender            10000 non-null  str
 4   ReBuy             10000 non-null  bool
 5   News_click        10000 non-null  float64
 6   country           10000 non-null  str
 7   revenue           10000 non-null  str
dtypes: bool(1), float64(4), str(3)
memory usage: 556.8 KB

Il y a 10 000 observations. Le type de la variable `revenue` est représenté par un string. Étant donné qu'il s'agit de notre variable cible, il est important qu'il soit au bon format c'est-à-dire en float. De même pour la variable `first_item_prize`, elle doit être changer en float. On a principalement 3 variables numériques dont l`age`, les `pages` et le `News_click`.

### Conversion des variables `age`,`revenue`,`pages`,`news_click` dans le bon format

In [12]:
customer['first_item_prize'][2]

'?'

In [7]:
customer['revenue']=pd.to_numeric(customer['revenue'])

ValueError: Unable to parse string "unknown" at position 5

In [10]:
customer['revenue'][5]

'unknown'

In [6]:
customer.describe()

                age         pages    News_click
count  10000.000000  10000.000000  10000.000000
mean      37.431400      5.995000      4.412000
std        9.490474      2.438559      2.418231
min       18.000000      1.000000      0.000000
25%       31.000000      5.000000      3.000000
50%       37.000000      6.000000      4.000000
75%       43.000000      7.000000      6.000000
max       79.000000     14.000000     10.000000